<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
  <aside>
    <a [href]="personalInfo.github" target="_blank" rel="noopener noreferrer" class="opacity-60 hover:opacity-100 transition-opacity duration-300">
      <img [ngSrc]="'assets/icons/github_white.svg'" width="64" height="64" alt="Github" class="w-16 aspect-square object-cover" />
    </a>
    <p>
      Erwan Achat, 2026
      <br />
      Portfolio façonné avec Angular 22
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Sections</h6>
    <div class="grid grid-flow-col gap-4">
      @for (section of navSections; track section.path) {
        <a [routerLink]="section.path">
          {{ section.label }}
        </a>
      }
    </div>
  </nav>
</footer>