<div class="fixed min-w-1/3 justify-center top-4 left-1/2 -translate-x-1/2 z-50 flex items-center gap-2 brightness-120 rounded-full backdrop-blur-xl px-6 py-3 text-base md:text-lg border border-white/20">

    @for (item of navSections; track item.path) {
        <a
          class="px-4 py-2 opacity-50 hover:opacity-100 hover:translate-y-1.5 transition duration-400 ease-in-out text-center"
          [routerLink]="item.path"
          routerLinkActive="opacity-100"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.label }}
        </a>
    }
</div>