<div
  class="w-full max-w-4xl mx-auto rounded-3xl bg-gray-100 p-8 md:p-12 shadow-lg"
>
  <h2 class="text-3xl font-bold text-gray-900">Prenons contact</h2>

  <p class="mt-2 mb-10 text-gray-500">Vous avez une question, un projet ou autre chose ? Envoyez-moi un message.</p>

  <form action="https://formspree.io/f/xaqrpezj" method="POST" class="space-y-6">
    <div>
      <label class="mb-2 block text-sm font-medium text-gray-700"> Nom </label>

      <div class="relative">
        <input
          type="text"
          name="name"
          [value]="name()"
          (input)="nameChanged($event)"
          placeholder="Votre nom"
          required
          class="w-full caret-black text-black rounded-xl border border-gray-300 bg-gray-50/50 px-5 py-3 transition focus:border-black focus:ring-4 focus:ring-black/10 focus:outline-none"
        />
      </div>
    </div>

    <div>
      <label class="mb-2 block text-sm font-medium text-gray-700"> Email </label>

      <div class="relative">
        <input
          type="email"
          [value]="email()"
          (input)="emailChanged($event)"
          name="email"
          placeholder="votre@email.com"
          required
          class="w-full caret-black text-black rounded-xl border border-gray-300 bg-gray-50 px-5 py-3 pr-10 transition focus:border-black focus:ring-4 focus:ring-black/10 focus:outline-none"
        />
        <span
          class="absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none transition-opacity duration-150"
          [class.opacity-0]="!email()"
        >
          <img
            [src]="'assets/validation_icons/' + (emailIsValid(email()) ? 'checkmark' : 'cross') + '.svg'"
            alt=""
            class="w-5 h-5"
          />
        </span>
      </div>
    </div>

    <div>
      <label class="mb-2 block text-sm font-medium text-gray-700"> Message </label>

      <div class="relative">
        <textarea
          name="message"
          [value]="message()"
          (input)="messageChanged($event)"
          rows="6"
          placeholder="Dîtes-moi tout..."
          required
          class="w-full caret-black text-black resize-none rounded-xl border border-gray-300 bg-gray-50 px-5 py-3 transition focus:border-black focus:ring-4 focus:ring-black/10 focus:outline-none"
        ></textarea>
      </div>
    </div>

    <button
      [disabled]="!formValid()"
      type="submit"
      class="btn btn-neutral w-full rounded-xl bg-gray-800 py-3 font-semibold text-white transition hover:bg-black active:scale-[0.99] cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500 disabled:hover:bg-gray-300"
    >
      Envoyer le message
    </button>
  </form>

  @if (!formValid()) {
    <p class="mt-4 text-sm text-center text-gray-500">
      {{ formMessage() }}
    </p>
  }
</div>
