.card {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 28px;
    cursor: grab;
    user-select: none;
    touch-action: none;
    will-change: transform;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 28px;
    z-index: -1;
    backdrop-filter: brightness(1.1) blur(10px);

}

@supports (-webkit-backdrop-filter: blur(0)) and (backdrop-filter: url(#displacementFilter)) {
    .card::before {
    backdrop-filter: brightness(1.1) blur(3px) url(#displacementFilter);
    }
}

.card.is-dragging {
    cursor: grabbing;
    z-index: 10;
}
