<div
  class="card"
  [class.is-dragging]="dragging()"
  [style.transform]="transform()"
  [attr.aria-grabbed]="dragging()"
  aria-roledescription="draggable card"
  role="group"
  tabindex="0"
  draggable="false"
  (pointerdown)="startDrag($event)"
  (window:pointermove)="moveDrag($event)"
  (window:pointerup)="endDrag()"
  (window:pointercancel)="endDrag()"
>
  <ng-content></ng-content>
</div>

<!-- L'élément SVG doit être dans le template -->
<svg style="display:none;">
    <!-- watch out for unicity of the ID-->
    <filter id="displacementFilter">
        <feTurbulence type="turbulence"
        baseFrequency="0.01"
        numOctaves="4"
        result="turbulence"
        />
        <feImage href="assets/maps/glass_square.png"
            preserveAspectRatio="none" />
            <feDisplacementMap in="SourceGraphic" in2="turbulence"
                scale="500" xChannelSelector="R" yChannelSelector="G" />
        </filter>
</svg>