:host {
  display: inline-block;
}

.skill-icon-img {
  object-fit: contain;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.2));
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.skill-icon-img:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.1));
}
