<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
  @for (section of sections; track section.title; let i = $index, first = $first, last = $last) {
    <li>
      @if (!first) {
        <hr />
      }
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div
        [class.timeline-start]="i % 2 === 0"
        [class.timeline-end]="i % 2 !== 0"
        [class.mb-10]="i % 2 === 0"
        [class.md:text-end]="i % 2 === 0"
        [class.md:mb-10]="i % 2 !== 0"
      >
        <time class="font-mono italic">{{ section.year }}</time>
        @if (section.logo) {
          <img
            [ngSrc]="section.logo"
            width="200"
            height="200"
            [alt]="section.logoAlt ?? ''"
            [class]="section.logoClass ?? 'w-1/2'"
          />
        }
        <div class="text-lg font-black whitespace-pre-line">{{ section.title }}</div>
        <p class="whitespace-pre-line">{{ section.summary }}</p>
      </div>
      @if (!last) {
        <hr />
      }
    </li>
  }
</ul>
